@import "tailwindcss";


:root {
  --color-primary: #2B4E41;
  --color-bg-light: #F9FAFB;

  
  --color-card-blue: #EEF2FF;
  --color-card-green: #F0FDF4;
  --color-card-orange: #FFF7ED;
  --color-card-purple: #FAF5FF;


  --radius-figma: 24px;
}


@layer base {
  body {
    @apply font-sans text-[#111827];
    background-color: var(--color-bg-light);
  }
}